.container{
            
    position: fixed;
    top: 35px;
    left: 25px;
    
     
     
 }
 .phone{
     width: 330px;
     position: relative;
     
 }
 
 .btn:hover{
     opacity: 0.6;
     transition: opacity 0.25s;
     
    


 }
 .clr-btn:hover{
     opacity: 0.6;
     transition: opacity 0.25s;
     
    


 }
 .main{
     

     position: absolute;
     left: 35px;
     top: 80px;

 }
 body{
     
     position: relative;
     background-color: rgb(254,147,0);
     font-family: Arial;
 }
 #display{
     color: white;
font-size: 45px;
margin-top: 15px;
margin-bottom: 5px;
 }
 .bluebtn{
     background-color: rgb(10, 128, 254);
     color: white;
 }
 .clr-btn{
     height: 60px;
width: 130px;
border-radius: 60px;
border: none;
font-size: 26px;
cursor: pointer;
margin-right: 5px;
 }

 .btn{
     height: 60px;
width: 60px;
border-radius: 60px;
border: none;
font-size: 26px;
cursor: pointer;
margin-right: 5px;


 }
 .orange-btn{
     background-color: rgb(254, 160, 10);
     color: white;
 }
 .gray-btn{
     background-color: rgb(51, 51, 51);
color: white;
 }

 @media (min-width:1000px) {
.container {
position: absolute;
left: 600px;
}
}
